@import '../app';

.section {
    height: 100vh;
    scroll-snap-align: start;
    padding: vw(100) vw(150);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mq(md) {
        height: auto;
        padding: svw(50) svw(25);
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        background-color: rgba($color: #E5E5E5, $alpha: 1);
        width: 1px;
        height: 100%;
        left: vw(150);
        bottom: 0;

        @include mq(md) {
            left: svw(25);
        }
    }

    &:after {
        width: 100%;
        height: 1px;
        left: 0;
        top: vw(142);

        @include mq(md) {
            top: svw(80);
        }
    }

    &__wrap {
        overflow: auto;
        height: 100vh;
        scroll-snap-type: y proximity;
    }

    &__title {
        margin-left: vw(-2);
        font-size: vw(50);
        font-weight: 400;
        color: $text;
        z-index: 10;
        line-height: 100%;

        @include mq(md) {
            margin-left: svw(-2);
            font-size: svw(36);
        }

        &.-white {
            color: white;
        }
    }
}