button {
    background-color: transparent;
    border: none;
    color: currentColor;
}

.button {
    padding: vw(20);
    border: none;
    cursor: pointer;
    line-height: 100%;
    backdrop-filter: blur(10);

    @include mq(md) {
        padding: svw(20);
    }

    &.-orange {
        color: white;
        background-color: rgba($color: $orange, $alpha: .9);
        transition: .2s;

        &:hover {
            color: $orange;
            background: rgba($color: #fff, $alpha: .3);
        }
    }

    &.-gray {
        color: white;
        background-color: rgba($color: #bbb, $alpha: .8);

        &:hover {
            color: $text;
            background: rgba($color: #fff, $alpha: .3);
        }
    }

    &.-conpact {
        padding: vw(12) 0;

        @include mq(md) {
            padding: svw(12) 0;
        }
    }
}