.input {
    border: none;
    background: rgba($color: #fff, $alpha: .5);
    backdrop-filter: blur(20px);
    padding: vw(20) vw(24);
    letter-spacing: vw(2);
    font-size: vw(16);

    @include mq(md) {
        padding: svw(20) svw(24);
        letter-spacing: svw(2);
        font-size: svw(16);
    }

    &::placeholder {
        color: $text;
    }

    &:hover {
        outline: $orange;
    }

    &:focus {
        outline: $orange;
    }

    &.-large {
        min-height: vw(216);

        @include mq(md) {
            min-height: svw(216);
        }
    }
}