<div class="section contact" id="contact">
    <h2 class="section__title -white">Contact</h2>
    <div class="contact__wrap">
        <input type="text" placeholder="email" class="input" />
        <textarea placeholder="本文" class="input -large"></textarea>
        <div class="contact__buttons">
            <button class="button -gray">キャンセル</button>
            <button class="button -orange">送信</button>
        </div>
    </div>
</div>

<style>
    @import "../../styles/top/_contact.scss";
</style>
