<div class="section mv">
    <div class="mv__content">
        <h1 class="mv__title">Moeka Ihara</h1>
        <p class="mv__desc">
            UIUX設計 / デザイン / コーディング /
            <br class="-sp" />
             フロントエンジニアリング
        </p>
    </div>
</div>
<style>
    @import "../../styles/top/_mv.scss";
</style>
