<div class="section skill" id="skill">
    <h2 class="section__title">Skill</h2>
    <ul class="skill__list">
        <li class="skill__column">
            <h3 class="skill__title">デザイン</h3>
            <p class="skill__item">Figma</p>
            <p class="skill__item">Adobe XD</p>
            <p class="skill__item">Adobe Photoshop</p>
            <p class="skill__item">Adobe Illustlator</p>
        </li>
        <li class="skill__column">
            <h3 class="skill__title">フロントエンド</h3>
            <p class="skill__item">JavaScript（jQuery / Vue / React）</p>
            <p class="skill__item">SCSS</p>
            <p class="skill__item">PUG</p>
            <p class="skill__item">WordPress</p>
            <p class="skill__item">Shopify</p>
        </li>
        <li class="skill__column">
            <h3 class="skill__title">資格</h3>
            <p class="skill__item">Web検定</p>
            <p class="skill__item">- Webリテラシー</p>
            <p class="skill__item">- Webデザイン</p>
            <p class="skill__item">- Webディレクション</p>
        </li>
    </ul>
</div>

<style>
    @import "../../styles/top/_skill.scss";
</style>
